
nav.bg-propio {
    background: #318fb6;
    background: linear-gradient(325deg, #318fb6 37%, #3291b9 54%, #48b9e9 72%);
    font-weight: bold;
    font-family: sans-serif;
    font-size: larger; }





